/* ==UserStyle==
@name           M'Bot Fine Print
@version        20190601.0.0
@description    Condensed font for bots who often repeat themselves.
@author         keturn (https://keturn.net)
@namespace      keturn.net
@homepageURL    https://gitlab.com/keturn/mbot-fine-print-usercss
@supportURL     https://gitlab.com/keturn/mbot-fine-print-usercss/issues
@updateURL      https://gitlab.com/keturn/mbot-fine-print-usercss/raw/master/mbot-fine-print.user.css
@license        MIT-0
@preprocessor   uso
@var text   botUsername "Bot User Name (lowercase)" "moobot"
@var number messageHeight "Maxmium message height" [48, 4, null, 1, 'px'] 
==/UserStyle== */

/**
 * TODO:
 *  - restrict to specific channels (https://www.twitch.tv/${streamName} and https://www.twitch.tv/popout/${streamName}/chat)
 *  - apply to multiple usernames
 *
 */

@-moz-document domain("www.twitch.tv") {
    /* Include font Open Sans Condensed from https://fonts.google.com/specimen/Open+Sans+Condensed (licensed Apache-2.0) */
    /* TODO: options to include other Open Sans supported character ranges, Greek and Cyrillic */
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v13/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuvMR6WR.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v13/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMRw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(https://fonts.gstatic.com/s/opensanscondensed/v13/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuvMR6WR.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans Condensed';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(https://fonts.gstatic.com/s/opensanscondensed/v13/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMRw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    .chat-line__message[data-user="/*[[botUsername]]*/"] {
        max-height: /*[[messageHeight]]*/;
        overflow-y: scroll;
        line-height: 0.8;
        font-stretch: condensed;
        font-family: "Open Sans Condensed", sans-serif;
    }

    /* They don't need badges. */
    .chat-line__message[data-user="/*[[botUsername]]*/"] .chat-line__message--badges {
        display: none;
    }

    /* Save a few pixels by squishing name even more. */
    .chat-line__message[data-user="/*[[botUsername]]*/"] .chat-author__display-name {
        letter-spacing: -2px;
    }
}